<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="assets/images/emart.png" alt="Electronics Mart" class="img-responsive" width ="140px;">
        </a>
    </div>
    <div class="menu-sidebar-content js-scrollbar1">
        <nav class="navbar-sidebar">
            <a href="welcome">Home</a>
            <ul class="list-unstyled navbar-list">

                <li><a href="/sellerlogin">To Seller Screen</a></li>
     

            </ul>
        </nav>
    </div>
</aside>
<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <button type="button" class="btn btn-md btn-info" (click)="updateuser()">
                Update Profile</button>
            
                <button type="button" class="btn btn-md btn-info" (click)="gotocart()">
                    go to cart</button>
            
        </div>
    </div>
</div>
