<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="assets/logo.jpg" alt="Tourism World" class="img-responsive" width ="140px;">
        </a>
    </div>
    <div class="menu-sidebar-content js-scrollbar1">
        <nav class="navbar-sidebar">
            <a href="welcome">Home</a>
        </nav>
    </div>
</aside>
<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h2> Welcome {{user.name}} Hotel Booking successfully</h2>
            <br>
            <a class="au-btn-submit" href="/">HomePage</a>
        </div>
    </div>
</div>



